.card {
  display: grid;
  grid-template-columns: 7fr 2fr;
  align-items: center;
  justify-content: center;
  background-color: rgba(207, 195, 205, 0.808);
  min-height: 3em;
  width: 80%;
  padding: 0 0 0 20px;
  border-radius: 15px;
  border: 1px solid black;
  list-style-type: none;
  margin-bottom: 5px;
}

.checkBoxTask {
  display: flex;
  flex-direction: row;
}
.removeBtn {
  height: 55%;
  width: 70%;
  border: none;
  border-radius: 20px;
  font-size: 0.75em;
  font-weight: bolder;
  background-color: rgba(216, 148, 205, 0.808);
}

.removeBtn:hover {
  background-color: #36454f;
  cursor: pointer;
  border-radius: 20px;
  color: #ffdb58;
}

.removeBtn:active {
  transform: translateY(-0.25em);
  background-color: rgb(197, 20, 153);
  color: black;
  -webkit-transition: background-color 0.1s linear;
}
