.wrapper {
  background: transparent;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.headerSticky {
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding: 10px 5px 0 20px;
  top: 0;
  background-color: white;
  position: sticky;
}

.headerModalOn {
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding: 10px 5px 0 20px;
  top: 0;
  background-color: white;
  /* position: sticky; */
}

.title {
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55%;
  width: 90%;
  border: none;
  border-radius: 20px;
  font-size: 0.75em;
  font-weight: bolder;
  background-color: rgba(207, 195, 205, 0.808);
  margin-top: 10px;
}

.addButton:hover,
.removeBtn:hover {
  background-color: #36454f;
  cursor: pointer;
  border-radius: 20px;
  color: #ffdb58;
}

.addButton:active,
.removeBtn:active {
  transform: translateY(-0.25em);
  background-color: rgb(197, 20, 153);
  color: black;
  -webkit-transition: background-color 0.1s linear;
}

.cardHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  display: grid;
  grid-template-columns: 5fr 2fr;
  align-items: center;
  justify-content: center;
  background-color: rgba(207, 195, 205, 0.808);
  min-height: 3em;
  width: 80%;
  padding: 0 0 0 20px;
  border-radius: 15px;
  border: 1px solid black;
  list-style-type: none;
  margin-bottom: 5px;
}

.removeBtn {
  height: 55%;
  width: 70%;
  border: none;
  border-radius: 20px;
  font-size: 0.75em;
  font-weight: bolder;
  background-color: rgba(216, 148, 205, 0.808);
}

p {
  margin-left: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::webkit-scrollbar-thumb:hover {
  background: #555;
}
